body{
    width:99%;
    font-family: 'Roboto', sans-serif;
    height: 98%;
    background-color: #FEF8F2;
    

}

header{
    text-align: center;
    font-size: 2em;
    color: rgb(48, 48, 48);
}


.content{
    border: solid 3px rgb(48, 48, 48);
    width: 20%;
    display: inline-block;
    
}   

img{
    max-width: 100%;
    height: auto;
}




footer{
    background-color: #686868;
    text-align: right;
    height: 20%;
    width: 100%;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    word-wrap: break-word;
    color: white;
    
    
}


#logoSimplon{
    position: absolute;
    top: 25%;
    left: 20%;

}

#presentation{
    position: absolute;
    top: 25%;
    left: 55%; 
}

#click1{
    position: absolute;
    top: 48%;
    left: 28%;
    color: rgb(48, 48, 48);
}

#click2{
    position: absolute;
    top: 55%;
    left: 63%;
    color: rgb(48, 48, 48);
}